<!-- Override minima's default template with some changes -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <style>
    /* better spacing for quiz questions/answers */
    ol > li {
      margin-bottom: 15px;
    }
  </style>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- remove footer -->

  </body>

</html>